body {
	font-family: Georgia, serif;
	font-size: 12px;
	color:#333;
}

#container {
	width: 760px;
	margin: 0 auto;
	position: relative;
}

/* Form */
#todo-input {
	border:1px solid #aaa;
	padding:6px 12px;
	width:260px;
}
#todo-input:hover, #todo-input:focus {
	border:1px solid #666;
}
#todo-submit {
	border:1px solid #aaa;
	padding:5px 12px;
	color:#666;
}
#todo-submit:hover {
	border:1px solid #666;
	cursor: pointer;
	color:#333;
}

/* Summary */
#summary {
	text-align:right;
	position: relative;
	top:28px;
	right:8px;
}
#summary .clear {
	text-decoration: none;
	color:#FF3300;
}
#summary #clear-list:hover {
	text-decoration: underline;
}

/* List */
#todo-list {
	width: 100%;
	margin:0;
	padding:0;
}
#todo-list li  {
	display: block;
	padding:2px;
}
#list-header {
	border-bottom:1px solid #333;
	margin-bottom:4px;
	font-size: 13px;
	font-weight: bold;
}
#list-header input {
	visibility: hidden;
}
#todo-list .todo-item:hover {
	background-color: #eee;
	cursor: default;
}
.cell-check {
	width:16px;
	padding-right:4px;
}
.done .todo-name {
	text-decoration: line-through;
	color:#999;
}